<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>

<body>
    <div style="padding:20px">
        <h3>게시물 등록</h3>
        <hr>

        <!-- context-path를 @가 자동으로 잡아줌 -->
        <form th:action="@{/board/insert}" method="post">
            <!-- 이메일, 암호, 이름, 연락처, 권한 -->
            <div>
                <label>제목</label><br>
                <input type="text" name="title">
            </div>
            <div>
                <label>내용</label><br>
                <textarea name="content" cols="22" rows="5"></textarea>
            </div>
            <div>
                <label>작성자</label><br>
                <input type="text" name="writer">
            </div>

            <div>
                <input type="submit" value="물품등록">
            </div>
        </form>

    </div>
</body>

</html>