<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectone</title>
</head>

<body>
    <div style="padding:20px">
        <h3>게시물 상세</h3>
        <hr />

        <form th:action="@{/board/selectone}" method="post">
            <p th:text="|글번호 :  ${board.no}|"></p>
            <p th:text="|제목 :  ${board.title}|"></p>
            <p th:text="|내용 :  ${board.content}|"></p>
            <p th:text="|조회수 :  ${board.hit}|"></p>
            <p th:text="|등록일 :  ${board.regdate}|"></p>
            <p><img th:src="${board.imageurl}" style="width:50px" /></p>
            <input type="submit" value="물품변경" />
        </form>

        <button>수정</button>
        <button>삭제</button>
        <a th:href="@{/board/selectone(no=${prev})}"><button>이전글</button></a>
        <a th:href="@{/board/selectlist}"><button>목록</button></a>

    </div>
</body>

</html>