<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
</head>

<body>
    <div style="padding:20px">
        <h3>물품등록</h3>
        <hr>

        <!-- context-path를 @가 자동으로 잡아줌 -->
        <form th:action="@{/seller/insertitem}" method="post" enctype="multipart/form-data">
            <!-- 이메일, 암호, 이름, 연락처, 권한 -->
            <div>
                <label>물품이름</label><br>
                <input type="text" name="iname">
            </div>
            <div>
                <label>물품내용</label><br>
                <textarea name="icontent" cols="22" rows="5"></textarea>
            </div>
            <div>
                <label>물품가격</label><br>
                <input type="number" name="iprice">
            </div>
            <div>
                <label>재고수량</label><br>
                <input type="number" name="iquantity">
            </div>
            <div>
                <label>대표이미지</label>
                <input type="file" name="timage">
            </div>

            <div>
                <input type="submit" value="물품등록">
            </div>
        </form>

    </div>
</body>

</html>